@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    background-color: rgb(13, 13, 13);
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Styling the header */


header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 3em 0.5em 3em;
    background-color: rgb(13, 13, 13);
}

header a{
    color: rgb(229, 9, 20);
    font-size: 2em; 
    font-weight: 900;
    padding-top: 0.3em;
}


.sign-in{
    margin: 1.2em 0 1.2em 0;
    padding: 0em 0.9em 0em 0.9em;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: rgb(229, 9, 20);
    font-size: 1em;
}

.sign-in:hover {
    background-color: rgb(244, 6, 18);
    cursor: pointer;
}

/* Main - popular movies */


.popular-movie{
   width: 100%;
   flex-shrink: 0;
   height: 100%;

   scroll-snap-align: start;
}

.knives-out{
    background-image: url("../images/knives-out.jpg");
}

.world-war{
    background-image: url("../images/1917.jpg");
}

.star-wars{
    background-image: url("../images/star.jpeg");
    background-repeat: none;
    background-position: center;
}

.popular-movie ul{
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
   
    background-color: rgba(0, 0, 0, 0.822);
    background-blend-mode: color-burn;
}

.popular-movie-trailer iframe{
    /* background-color: rgb(43, 42, 40); */
    width: 100%;
}

.popular-movie-trailer{
    width: 60%;
}

.popular-movie-info{
    color:white;
    padding: 5em 2em 0 2em;
    width: 40%;
}
.popular-movie-info h1{
    font-size: 5em;
    text-align: center;
}

.popular-movie-info p{
    padding-top: 5em;
}

.popular{
    display: flex;
    overflow-x: auto;
    width: 100vw;

    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth;
}

.link{
    width: 20px;
    height: 10px;
    background-color: rgba(97, 93, 93, 0.822);
    border-radius: 0%;
    margin: 0.3em;
}

.nav{
    display: flex;
    justify-content: center;
}

.popular::-webkit-scrollbar {
    display: none;
  }


  /* TODO: style the animation nav and add an actual animation*/


  