/* iPad Pro */
@media only screen and (max-width: 2300px) {
    .mute{
        bottom: 50%;
    }

    .logo{
        bottom: 48%;
    }
}

/* iPad */
@media only screen and (max-width: 769px) {
    .mute{
        bottom: 40%;
    }

    .logo{
        bottom: 36%;
    }

    .logo img{
        width: 80%;
        height: 80%;
    }

    .movie-title{
        font-size: 0.5em;
    }

    .popular-movie-info p{
        font-size: 0.8em;
    }

    .popular-movie-trailer{
        width: 100%;
        
    }

}

/* iPhone*/
@media only screen and (max-width: 415px) {
    
    header a img{
        width: 100px;
        margin: 0;
    }

    #troy-video{
        height: 400px;
    }

    .mute{
        bottom: 60%;
        width: 30px;
        height: 30px;
        padding: 3px;
       
    }

    #mute-button{
        font-size: 1.2em;
        padding-bottom: 2px;
    }

    .logo{
        bottom: 50%;
    }

    .logo img{
        width: 30%;
        height: 30%;
    }
    .movie{
        width: 150px !important;
        height: 180px !important;
    }

    .movie:hover{
        margin: 20px 50px 50px 50px;
    }

    .movie-list{
        margin-bottom: 20px !important;
    }

    .popular-movie-info{
        visibility: hidden;
        position: absolute;
    }

    .popular-movie-trailer video{
        height: 300px;
    }
    .movie-list{
        font-size: 0.5em;
    }
}


@media only screen and (max-width: 376px) {
    .mute{
        bottom: 50%;
    }

    .logo{
        bottom: 38%;
    }
}

@media only screen and (max-width: 321px) {
    .mute{
        bottom: 42%;
    }

    .logo{
        bottom: 28%;
    }
}