body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 3em 0.5em 3em;
    background-color: var(--background-black);
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}

header a {
    color: var(--main-red);
    font-size: 2em;
    font-weight: 900;
    padding-top: 0.3em;
}

.sign-in {
    margin: 1.2em 0 1.2em 0;
    padding: 0em 0.9em 0em 0.9em;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: var(--main-red);
    font-size: 1em;
}

.sign-in:hover {
    background-color: var(--lighter-red);
    cursor: pointer;
}